@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Global Styles */
html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

/* Slick Carousel Styles */
@import 'slick-carousel/slick/slick.css';
@import 'slick-carousel/slick/slick-theme.css';